.form__save-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 358px;
    height: 50px;
    color: white;
    text-decoration: none;
    background: #000000;
    border-radius: 2px;
    margin: 48px auto 37px auto;
    transition: background-color .5s ease-out;
}

.form__save-button:hover {
    background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 768px) {
    .form__save-button {
        width: 238px;
        margin: 45px auto 25px auto;
    }
}