.close-button {
    position: absolute;
    height: 40px;
    top: -35px;
    right: -35px;
    opacity: 1;
    transition: opacity .5s ease-out;
}

.close-button:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .close-button {
        height: 26px;
        right: 0;
    }
}